[submodule ".registry"]
	path = .registry
	url = https://github.com/insightsengineering/insightsengineering.r-universe.dev
	branch = HEAD
[submodule "autoslider.core"]
	path = autoslider.core
	url = https://github.com/insightsengineering/autoslider.core
	branch = v0.2.3
[submodule "cards"]
	path = cards
	url = https://github.com/insightsengineering/cards
	branch = v0.4.0
[submodule "cardx"]
	path = cardx
	url = https://github.com/insightsengineering/cardx
	branch = v0.2.2
[submodule "chevron"]
	path = chevron
	url = https://github.com/insightsengineering/chevron
	branch = v0.2.8
[submodule "dunlin"]
	path = dunlin
	url = https://github.com/insightsengineering/dunlin
	branch = v0.1.8
[submodule "formatters"]
	path = formatters
	url = https://github.com/insightsengineering/formatters
	branch = v0.5.10
[submodule "ggplot2.utils"]
	path = ggplot2.utils
	url = https://github.com/insightsengineering/ggplot2.utils
	branch = v0.3.2
[submodule "goshawk"]
	path = goshawk
	url = https://github.com/insightsengineering/goshawk
	branch = v0.1.18
[submodule "hermes"]
	path = hermes
	url = https://github.com/insightsengineering/hermes
	branch = v1.7.2
[submodule "nestcolor"]
	path = nestcolor
	url = https://github.com/insightsengineering/nestcolor
	branch = v0.1.2
[submodule "osprey"]
	path = osprey
	url = https://github.com/insightsengineering/osprey
	branch = v0.1.16
[submodule "random.cdisc.data"]
	path = random.cdisc.data
	url = https://github.com/insightsengineering/random.cdisc.data
	branch = v0.3.16
[submodule "rbmi"]
	path = rbmi
	url = https://github.com/insightsengineering/rbmi
	branch = v1.3.1
[submodule "rlistings"]
	path = rlistings
	url = https://github.com/insightsengineering/rlistings
	branch = v0.2.10
[submodule "roxy.shinylive"]
	path = roxy.shinylive
	url = https://github.com/insightsengineering/roxy.shinylive
	branch = v1.0.0
[submodule "rtables"]
	path = rtables
	url = https://github.com/insightsengineering/rtables
	branch = v0.6.11
[submodule "rtables.officer"]
	path = rtables.officer
	url = https://github.com/insightsengineering/rtables.officer
	branch = main
[submodule "sasr"]
	path = sasr
	url = https://github.com/insightsengineering/sasr
	branch = v0.1.2
[submodule "simIDM"]
	path = simIDM
	url = https://github.com/insightsengineering/simIDM
	branch = v0.1.0
[submodule "teal"]
	path = teal
	url = https://github.com/insightsengineering/teal
	branch = v0.15.2
[submodule "teal.code"]
	path = teal.code
	url = https://github.com/insightsengineering/teal.code
	branch = v0.5.0
[submodule "teal.data"]
	path = teal.data
	url = https://github.com/insightsengineering/teal.data
	branch = v0.6.0
[submodule "teal.goshawk"]
	path = teal.goshawk
	url = https://github.com/insightsengineering/teal.goshawk
	branch = v0.2.0
[submodule "teal.logger"]
	path = teal.logger
	url = https://github.com/insightsengineering/teal.logger
	branch = v0.3.0
[submodule "teal.modules.clinical"]
	path = teal.modules.clinical
	url = https://github.com/insightsengineering/teal.modules.clinical
	branch = v0.9.1
[submodule "teal.modules.general"]
	path = teal.modules.general
	url = https://github.com/insightsengineering/teal.modules.general
	branch = v0.3.0
[submodule "teal.modules.hermes"]
	path = teal.modules.hermes
	url = https://github.com/insightsengineering/teal.modules.hermes
	branch = v0.1.6
[submodule "teal.osprey"]
	path = teal.osprey
	url = https://github.com/insightsengineering/teal.osprey
	branch = v0.1.16
[submodule "teal.reporter"]
	path = teal.reporter
	url = https://github.com/insightsengineering/teal.reporter
	branch = v0.3.1
[submodule "teal.slice"]
	path = teal.slice
	url = https://github.com/insightsengineering/teal.slice
	branch = v0.5.1
[submodule "teal.transform"]
	path = teal.transform
	url = https://github.com/insightsengineering/teal.transform
	branch = v0.5.0
[submodule "teal.widgets"]
	path = teal.widgets
	url = https://github.com/insightsengineering/teal.widgets
	branch = v0.4.2
[submodule "tern"]
	path = tern
	url = https://github.com/insightsengineering/tern
	branch = v0.9.7
[submodule "tern.gee"]
	path = tern.gee
	url = https://github.com/insightsengineering/tern.gee
	branch = v0.1.5
[submodule "tern.mmrm"]
	path = tern.mmrm
	url = https://github.com/insightsengineering/tern.mmrm
	branch = v0.3.2
[submodule "tern.rbmi"]
	path = tern.rbmi
	url = https://github.com/insightsengineering/tern.rbmi
	branch = v0.1.4
[submodule "verdepcheck"]
	path = verdepcheck
	url = https://github.com/insightsengineering/verdepcheck
	branch = main
