[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "formatters"]
	path = formatters
	url = https://github.com/insightsengineering/formatters
	shallow = true
	registered = true
[submodule "hermes"]
	path = hermes
	url = https://github.com/insightsengineering/hermes
	shallow = true
	registered = true
[submodule "rbmi"]
	path = rbmi
	url = https://github.com/insightsengineering/rbmi
	shallow = true
	registered = true
[submodule "rtables"]
	path = rtables
	url = https://github.com/insightsengineering/rtables
	shallow = true
	registered = true
[submodule "simIDM"]
	path = simIDM
	url = https://github.com/insightsengineering/simidm
	shallow = true
	registered = true
