[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "formatters"]
	path = formatters
	url = https://github.com/insightsengineering/formatters
[submodule "ggplot2.utils"]
	path = ggplot2.utils
	url = https://github.com/insightsengineering/ggplot2.utils
[submodule "hermes"]
	path = hermes
	url = https://github.com/insightsengineering/hermes
[submodule "nestcolor"]
	path = nestcolor
	url = https://github.com/insightsengineering/nestcolor
[submodule "rbmi"]
	path = rbmi
	url = https://github.com/insightsengineering/rbmi
[submodule "rlistings"]
	path = rlistings
	url = https://github.com/insightsengineering/rlistings
[submodule "rtables"]
	path = rtables
	url = https://github.com/insightsengineering/rtables
[submodule "sasr"]
	path = sasr
	url = https://github.com/insightsengineering/sasr
[submodule "simIDM"]
	path = simIDM
	url = https://github.com/insightsengineering/simidm
[submodule "tern"]
	path = tern
	url = https://github.com/insightsengineering/tern
